# Python
__pycache__/
*.py[cod]
*$py.class
*.so
backend/boats.db

# Node
node_modules/
dist/
dist-ssr/
*.local

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Firmware/Arduino
build/
*.bin
*.elf

# IDE / OS
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
